$color-primary: #30F2EF;
$color-primary-light: #18E0DD;
$color-primary-dark: #05BCB9;

$color-secondary: #FE5D26;
$color-secondary-light: #FF794C;
$color-secondary-dark: #FF3F00;

$color-black: #000F08;

$color-grey: #3E4E50;
$color-grey-light: #f7f7f7;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 90%;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;